$backgroundHeader: url("../img/m-h-night.jpg");
$backgroundColor: #21232e;
$bodyFontFamyly: "Fresca", sans-serif;
$mainTextColor: white;
$highlightedText: #ff4e33;
$btnBackground: #e3ac00;
$sectionBackground: #3b3f50;
$headersFontFamyly: "Source Sans Pro", sans-serif;
$gradientColorRight: #963150;
$footerBackground: #3b3f50;
$bannerTextColor: #d1d1d1;
$cardImgWidth: 115%;
$sectionTextColor: #c0c3ce;
$sectionTextFont: "Fresca", sans-serif;
$fontSizes: (
  "normal": 1rem,
  "big": 1.4rem,
  "large": 1.8rem,
);
