$backgroundHeader: url("../img/m-h-day.jpg");
$backgroundColor: white;
$bodyFontFamyly: "Source Sans Pro", sans-serif;
$mainTextColor: #2b303d;
$highlightedText: #14a0c7;
$btnBackground: #699900;
$sectionBackground: #21232f;
$headersFontFamyly: "Source Sans Pro", sans-serif;
$gradientColorRight: #2e5cd4;
$footerBackground: #21232f;
$bannerTextColor: #abc3ce;
$cardImgWidth: 120%;
$sectionTextColor: #c0c3ce;
$sectionTextFont: "Hind", sans-serif;
$fontSizes: (
  "normal": 1rem,
  "big": 1.4rem,
  "large": 1.8rem,
);
